.hud-overlay {
    top: 0;
    left: 0;
    z-index: 10;
    width: 800px;
    height: 600px;
    color: white;
    position: absolute;
    pointer-events: none;
    container-type: size;
    font-family: 'Press Start 2P', cursive;

  .round-val {
      font-size: 2.2cqw;
      color: #CE728A;
      position: absolute;
      font-weight: bolder;
      position: absolute; left: 142px; top: 477px;
  }

  .ammo-row {
      gap: 10px;
      display: flex;
      flex-direction: row-reverse;
      position: absolute; left: 80px; top: 515px;

    .ammo-cover {
        width: 16px;
        height: 22px;
        background: transparent;

        &.is-spent {
          background: black;
      }
    }
  }

  .hit-row {
      gap: 5px;
      display: flex;
      position: absolute; left: 300px; top: 520px;

    .hit-slot {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

      .red-x {
          color: red;
          font-size: 20px;
          font-weight: bolder;
          text-shadow: 1px 1px 0px #000;
      }
    }
  }

  .score-val {
      top: 512px;
      right: 75px;
      font-size: 20px;
      text-align: right;
      position: absolute;
  }
}