.nes-intro-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1000;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  font-family: "Press Start 2P", cursive;

  .scanline-overlay {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 100%;
    position: absolute;
    pointer-events: none;
    background: linear-gradient(
      rgba(18, 16, 16, 0) 50%,
      rgba(0, 0, 0, 0.2) 50%
    );
    background-size: 100% 4px;
  }

  .logo-area {
    width: 700px;
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    align-items: flex-start;

    .logo-top,
    .logo-bottom {
      margin: 0;
      line-height: 1;
      font-size: 120px;
      color: #3beeff;
      letter-spacing: -2px;
      text-shadow: 6px 6px 0px #ff0000;
    }

    .logo-bottom {
      margin-left: 140px;
    }

    .separator-line {
      width: 100%;
      height: 6px;
      margin: 15px 0;
      background-color: #f9a158;
    }
  }

  .action-area {
    margin-top: 80px;

    .start-game-btn {
      border: none;
      display: flex;
      font-size: 28px;
      cursor: pointer;
      color: #f9a158;
      background: none;
      align-items: center;
      font-family: inherit;

      .nes-pointer {
        width: 0;
        height: 0;
        margin-right: 25px;
        border-left: 20px solid #fff;
        border-top: 14px solid transparent;
        border-bottom: 14px solid transparent;
      }

      &:hover {
        color: #fff;
      }
    }
  }

  .retro-footer {
    bottom: 40px;
    color: #fff;
    position: absolute;
    text-align: center;

    .dev-text {
      font-size: 10px;
      color: #8ceb00;
      margin-bottom: 10px;
    }

    .copyright {
      font-size: 18px;
    }
  }
}

.blink-text {
  animation: blink 0.8s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
